<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Polls</div>
        <div class="panel-body">
            <div class="list-group">
                <a href="" class="list-group-item">Example Poll</a>
            </div>
        </div>
    </div>
</div>
