<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Polls</div>
        <div class="panel-body">
            <div class="list-group">
                {{#each polls}}
                    <a href="/polls/{{this._id}}" class="list-group-item">{{this.question}}</a>
                {{/each}}
            </div>
        </div>
    </div>
</div>
