<div class="container">
    <form action="/api/makePoll" method="post">
        <input type="text" name="question">
        <input type="text" name="options[answer1]">
        <input type="text" name="options[answer2]">
        <input type="submit" value="Submit">
    </form>
</div>
