<div class="container">
    <form action="/api/makePoll" method="post">
        Question:</br>
        <input type="text" name="question"></br>
        Answers:</br>
        1.<input type="text" name="options[answer1]">
        2.<input type="text" name="options[answer2]">
        <input type="submit" value="Submit">
    </form>
</div>
