.fixed-msg {
    position: fixed;
    top: 60px;
    right: 10px;
}

#legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.legend-label {
    display: inline;
    padding: 3px;
}

body {
    word-wrap: break-word;
}

#poll-display {
    float: left;
    width: 90%;
}

.div-parent {
    position: relative;
    float: right;
    width: 10%;
}

.delete-btn {
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.poll-panel {
    margin: 10px;
}

.ellipsis-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
